
#text{
    font-family: Do Hyeon, sans-serif;
    font-size: 100px;
    color: #4062BB;
    margin-top: 100px;
    text-align:left;
    margin-left: 50px;
}
#text1{
    font-family: 100px;
    color: #A7E2E3;
    text-align: left;
    margin-left: 80px;
}
.text2{
    margin-top: 50px;
    margin-left: 100px;
    font-family: Do Hyeon, sans-serif;
    font-size: 30px;
    color:#545C52;
    max-width: 1000px;
    text-align: left;
    
}