

#titre{
    color: #4062BB;
}
.link{
    text-decoration:none;
    font-family:Do Hyeon, sans-serif;
    font-size: 30px;
    
}
.link2{
    text-decoration: none;
    font-family: Do Hyeon, sans-serif;
    font-size: 20px;
    margin-top: 18px;
    display: flex;
    
}
#link2{
    color: #545C52;

}

     
   #but{
    
   
    margin-left: auto;
    margin-right: auto;
    font-family:Do Hyeon, sans-serif;
    background-color: #4062BB;
    max-height: 50px;
   
}
   #but1{
   margin-left: 600px;
   margin-right: 10px;
   font-family:Do Hyeon, sans-serif;
   background-color: #4062BB;
    max-height:50px;
    display: flex;
    

}

